<div class="container-new">
  <div class="row justify-content-center">
    <div class="col-sm-5">
    <h3>Escolha sua foto.</h3>
      <%= simple_form_for :student, data: { turbo: false } do |f| %>
        <% @student.errors.full_messages.each do |msg| %>
          <% end %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Enviar" %>
      <% end %>
    </div>
<p></p>
