  <div class="card1">
    <p><%= image_tag "https://res.cloudinary.com/ddxlnxcu5/image/upload/v1670340467/logo_brasas_2015-02__1_-removebg-preview_g81ytp.png", class:"img"%></p>
    <p></p>
    <h4 class="Title"><strong> Acesso não autorizado. </strong><h4>
    <h5>Entre em contato com a sua unidade.</h5>
    <p></p>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
</div>
