  <div class="card1">
    <p><%= image_tag "https://res.cloudinary.com/dgrsenrsa/image/upload/v1705079923/BRASAS%20Logos/BRASAS_anbn1s_z3mvtm.png", class:"img"%></p>
    <p></p>
    <h4 class="Title"><strong> Acesso não autorizado. </strong><h4>
    <h5>Entre em contato com a sua unidade.</h5>
    <p></p>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
</div>
