<div class="container-new">
  <div class="row justify-content-center">
    <div class="col-sm-5">
    <h3>Escolha sua foto.</h3>
      <%= simple_form_for @student do |f| %>
        <%= f.input :photo, as: :file, required: true %>
        <%= f.submit "Enviar" %>
      <% end %>
    </div>
<p></p>
